:host {
    @apply mfe-search-block mfe-search-bg-white mfe-search-border mfe-search-border-gray-200 mfe-search-rounded-lg mfe-search-p-6;
}

.mfe-search-results-title {
    @apply mfe-search-text-xl mfe-search-font-semibold mfe-search-text-gray-900 mfe-search-mb-4;
}

.mfe-search-see-all {
    @apply mfe-search-pt-4 mfe-search-mt-4 mfe-search-border-t mfe-search-border-gray-200;
}

.mfe-search-see-all-btn {
    @apply mfe-search-w-full mfe-search-text-center mfe-search-text-blue-600 hover:mfe-search-bg-blue-50 mfe-search-py-2 mfe-search-rounded mfe-search-text-sm mfe-search-font-medium;
}