.mfe-search-post-card {
    @apply mfe-search-border-b mfe-search-border-gray-100 mfe-search-pb-6 mfe-search-mb-6 last:mfe-search-border-b-0 last:mfe-search-mb-0 last:mfe-search-pb-0;
}

.mfe-search-post-header {
    @apply mfe-search-flex mfe-search-items-start mfe-search-justify-between mfe-search-mb-3;
}

.mfe-search-avatar-small {
    @apply mfe-search-w-10 mfe-search-h-10 mfe-search-bg-gradient-to-r mfe-search-from-purple-500 mfe-search-to-purple-600 mfe-search-rounded-full mfe-search-flex mfe-search-items-center mfe-search-justify-center;
}

.mfe-search-avatar-initials {
    @apply mfe-search-text-white mfe-search-font-semibold mfe-search-text-sm;
}

.mfe-search-post-author {
    @apply mfe-search-flex-1 mfe-search-mx-3;
}

.mfe-search-post-name {
    @apply mfe-search-text-base mfe-search-font-semibold mfe-search-text-gray-900;
}

.mfe-search-post-connection {
    @apply mfe-search-text-sm mfe-search-text-gray-600;
}

.mfe-search-post-bio {
    @apply mfe-search-text-sm mfe-search-text-gray-500 mfe-search-mt-1;
}

.mfe-search-follow-btn {
    @apply mfe-search-px-4 mfe-search-py-1 mfe-search-bg-blue-600 mfe-search-text-white mfe-search-rounded-full hover:mfe-search-bg-blue-700 mfe-search-text-sm mfe-search-font-medium;
}

.mfe-search-post-content {
    @apply mfe-search-ml-12; /* ml-13 to align with avatar */
}

.mfe-search-post-text {
    @apply mfe-search-text-gray-800 mfe-search-text-sm mfe-search-leading-relaxed;
}