.mfe-search-promo-card {
    @apply mfe-search-bg-gray-50 mfe-search-border mfe-search-border-gray-200 mfe-search-rounded-lg mfe-search-p-4 mfe-search-flex mfe-search-items-center mfe-search-justify-between;
}

.mfe-search-promo-header {
    @apply mfe-search-flex-1;
}

.mfe-search-promo-title {
    @apply mfe-search-text-sm mfe-search-font-semibold mfe-search-text-gray-900;
}

.mfe-search-promo-subtitle {
    @apply mfe-search-text-sm mfe-search-text-gray-600 mfe-search-mt-1;
}