.mfe-search-section {
    @apply mfe-search-w-full mfe-search-flex mfe-search-flex-col mfe-search-justify-center mfe-search-items-center;

    .mfe-search-inner {
        @apply mfe-search-w-full mfe-search-flex mfe-search-flex-col mfe-search-items-center mfe-search-max-w-6xl mfe-search-mx-auto mfe-search-justify-between md:mfe-search-flex-row
    }
}