:host {
    @apply mfe-search-block mfe-search-bg-white mfe-search-border mfe-search-border-gray-200 mfe-search-rounded-lg mfe-search-p-6;
}

.mfe-search-results-title {
    @apply mfe-search-text-xl mfe-search-font-semibold mfe-search-text-gray-900 mfe-search-mb-4;
}

.mfe-search-posts-filters {
    @apply mfe-search-mb-4;
}

.mfe-search-filter-group-horizontal {
    @apply mfe-search-flex mfe-search-space-x-2;
}

.mfe-search-filter-btn {
    @apply mfe-search-px-3 mfe-search-py-1 mfe-search-text-sm mfe-search-border mfe-search-border-gray-300 mfe-search-rounded-full hover:mfe-search-bg-gray-50 mfe-search-text-gray-600;
}

.mfe-search-filter-active {
    @apply mfe-search-bg-blue-50 mfe-search-text-blue-600 mfe-search-border-blue-200;
}